parameters:
    level: 8
    paths:
        - src
    checkMissingIterableValueType: false
    excludes_analyse:
        - "src/Providers/BladeComponentServiceProvider.php"
    ignoreErrors:
        - "#is not allowed to extend#"
